@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p{
    font-family: 'Open Sans', sans-serif;
}

/*ANIMAÇÃO DA PRELOADE DA PAGINA*/
@keyframes fadeOut{
    to {
        opacity: 0;
    }

}
@keyframes fadeFromLetf{
    to {
        left: 0;
        opacity: 1;
    }

}
@keyframes slideTopIn{
    to {
        top: 15%;
        opacity: 1;
    }

}
@keyframes scaleRigth{
    to {
        transform: scaleX(1);
    }

}
@keyframes scaleUp{
    to {
        transform: scaleX(1);
    }

}


@keyframes lineDown{
    0%{
        transform: scale(1, 0);
        transform-origin: top center;
    }
    25%{
        transform: scale(1, 1);
        transform-origin: top center;
    }
    75%{
        transform: scale(1, 1);
        transform-origin: top center;
    }
    76%{
        transform: scale(1, 1);
        transform-origin: bottom center;
    }
    100%{
        transform: scale(1, 0);
        transform-origin: bottom center;
    }    

 }

@keyframes arrowDown{
   0% {
        bottom: 25px;

    }
    30%{
        bottom: 15px;
        opacity: 1;
    }
    70%{
        bottom: 10px;
        opacity: 1;
    }
    100%{
        bottom: 5px;
        opacity: 0;
    }
 }

 @media screen and (min-width: 320px){ 

    .jl-page-wrapper, .jl-preloader{
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1c1c1c;
        border: 30px solid #000;       
    }
    .jl-preloader{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
       
    }
    .jl-overlay{
        width: 100vw;
        height: 100vh;
        display: none;
        background-color:rgba(44, 203, 105, 0.95);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .jl-modal{       
        width: 800px;        
        display: none;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1200;
        opacity: 0;
    }
    .jl-modal-header, 
    .jl-modal-body,
    .jl-form{
        width: 100%;
        display: table;
        position: relative;
    }
    .jl-close-modal{
        width: 45px;
        height: 45px;
        line-height: 45px;       
        top: -15px;
        right: -15px;
        color: #fff;
        font-size: 20px;
        text-transform: capitalize;
        text-decoration: none;
        display: block;        
        background-color: #1c1c1c;        
        text-align: center;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        position: absolute;
    }
    .jl-close-modal:hover{
        cursor: pointer;
        background-color: #2ccb69;
        color: #151515;
        font-weight: 600;
    }
    .jl-field{
        width: 100%;
        height: 45px;
        border-radius: 4px;
        background-color: #2f2f2f;
        border:none;
        outline: none;
        text-indent: 15px;        
        color: #bcbcbc;
        font-size: 16px;
        text-transform: capitalize;

    }
    .jl-textarea{
        width: 100%;
        border-radius: 4px;
        background-color: #2f2f2f;
        color: #bcbcbc;
        font-size: 16px;
        border: none;
        outline: none;
        padding: 10px;
    }
    .jl-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        z-index: 900;
    }
    .jl-logo{
        width: 74px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-left: 60px;
        background-color: #2ccb69;
        border-radius: 0 0 37px 0;
        padding-bottom: 20px;
        
    }
    .jl-logo a{
        text-decoration: none;
        outline: none;
    }

    .jl-logo img{
        width: 46px;
        height: 31px;
        display: block;       
    }
    .jl-menu{
      display: none;

    }
    .jl-btn-contact{
        width: 45px;
        height: 45px;
        display: block;      
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        background-color: #2ccb69;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        transition:all 0.2s ease-out;
    }
      

    .jl-contact-info{
        z-index: 200;
        width: 245px;
        height: 165px;        
        position: fixed;
        bottom: 115px;
        right: 65px;
        display: none;
           
              
    }
    .jl-balloon{
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 1rem;
        padding: 25px;
        
    }
    .jl-contact-info-text{
        margin-top: 20px;
    }
   
   
   .jl-contact-info-text p{
    margin-top: 5px;
    font-size: 1rem;
    line-height: 24px;    
   }    
        
   .jl-social-links{
        display: flex;
        width: 100%;
        height: 45px;
        justify-content: space-around;
        align-items: center;        
        margin-bottom: 30px;

    }
    .jl-social{
        text-decoration: none;
        display: inline-block;
    }
    .jl-social i{
        font-size: 35px;
        color: #2ccb69;
        transition: all 0.3s ease;
       
    }
    .jl-social i:hover{
        color: #bcbcbc;
    }
   .jl-corner{    
    float: right;    
    width:25px;
    height: 25px;
    display: block;
    display: relativo;

   }
   .jl-corner::after{
    content: '';
    width:25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0;
    background-color: transparent;
    background-image: url('../images/corner.svg');
    background-repeat: no-repeat;
    
   }
   /*------HOME------*/
   .jl-display-text{
        margin-top: 10%;

   }
   #jl-home-presentation{
        background-image: url('../images/joao-lemon-designer-home.png');
        background-repeat: no-repeat;
        background-position: 55% bottom;
        position: relative;
   }
   .jl-scroll-down{
    width: 75px;
    height: 80px;
    border-radius: 35px 35px 0 0;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
   }
   .jl-arrow-down{
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;    
   }
   .jl-arrow-down a{
    text-decoration: none;
    opacity: 0;
    bottom: 25px;
    animation: arrowDown 1.5s linear 1.5s infinite;
   }
   .jl-arrow-down a i{
    color: #000;
    font-size: 50px;
    transform-origin: top center;
    animation: lineDown 1.5s ease-out infinite ;
   }
   /*-----HOME - PORTFOLIO*/
   .jl-portfolio-navigatior{
     width: 145px;
     height: 400px;
     display: table;     
     position: absolute;
     left: 15px;
     top: 26vh;
   }
   .jl-item-counter{
     width: 100%;
     height: 90px;
     display: block;     
     margin-bottom: 60px;
     position: relative;
   }
   .jl-item-counter::before{
    content: '';
    display: block;
    width: 35px;
    height: inherit;
    background-color: #1c1c1c;
    position: absolute;
    left: 0;
    top: 3px;

   }
   .jl-item-counter span{
    font-size: 120px;
    line-height: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
   }

   .jl-item-navigatior{
     width: 100%;
     display: table;    
   }
   .jl-item-navigatior a{
    text-decoration: none;
    display: block;
    width: 20px;
    height: 1px;    
    margin: 0 0 80px 35px;
    background-color: #4d4c4c;
   }
   .jl-item-navigatior .jl-item-active{     
     background-color:#2ccb69;
   }
   .jl-item-navigatior a:last-child{
    margin-bottom: 30px;
   }
   .jl-items-next-prev{
     width: 100%;
     height: 45px;     
     display: block;
     background-color: #2c2c2c;
     border-radius:23px;    
   }
   .jl-items-content{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-decoration: none;

   }
   .jl-items-content a i{
        color: #4d4c4c;
        font-size: 20px;
        transition: all 0.2s ease-out;
   }
   .jl-items-content a i:hover{
    color: #2ccb69;
   }
   .jl-items-content-counter{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #4d4c4c;

   }
   .jl-items-content-counter span:nth-child(1){
     color: #fff;
   }
   .jl-slider-container{
     display: block; 
     overflow: hidden;
   }
   .jl-slider-list{ 
     height: 700px;
     display: block;     
     list-style: none;    
   }
   .jl-portfolio-list{
     list-style: none;   
   }

   .jl-slider-list .jl-slider-item{
     display: block; 
     height: 500px;
     float: left;
     margin-top: calc(26vh - 75px);
    }
    .jl-portfolio-list .jl-portfolio-item:nth-child(1){
        margin-top: 80px;
        margin-bottom: 230px;
    }
    .jl-portfolio-list .jl-portfolio-item{
        margin-top: 250px;
        margin-bottom: 100px;

    }
    

    .jl-slider-list .jl-portfolio-item-info{
        width: calc(100% - 75px);
        display: table;
        margin-top: 62px;
        padding-right: 20px;
        position: relative;
        opacity: 0;
        left: -75px;
    }
    .jl-portfolio-list .jl-portfolio-item-info{
        width: calc(100% - 105px);

    }
    .jl-slider-list .jl-portfolio-item-thumb,
    .jl-portfolio-list .jl-portfolio-item-thumb
    {
        width: 100%;        
        display: table;
        padding: 75px 0 19px 0;
        position: relative;       
    }
    .jl-slider-list .jl-portfolio-item-thumb > a,
    .jl-portfolio-list .jl-portfolio-item-thumb > a
    {
        margin-top: 17px;
        margin-right: 75px;
        float: right;

    }
    .jl-slider-list .jl-portfolio-item-box,
    .jl-portfolio-list .jl-portfolio-item-box{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
    }
    .jl-portfolio-list .jl-portfolio-item-box{
        transform: scaleX(1);
    }


    .jl-slider-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;        
        left: -75px;
        transform: scale(0);
    }
    .jl-portfolio-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;        
        left: -75px;        
    }

    
    .jl-portfolio-list .jl-portfolio-item-thumb img{
        transform: scale(1);
    }

    /*------PORTFOLIO PROJECTOS------*/
    .jl-section-offset-top{
        margin-top: 130px;
    }
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
        text-align: right;
        margin-top: 53px;
    }
    
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info > a{
        float: right;
    }
    .jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row{
        flex-direction: row-reverse;
    }
    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
        margin-top: 55px;
        margin-left: 105px; 
    }
    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
        left: 75px;
    }
    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb > a{
        float: left;
        margin-left: 75px;
    }


    /*------PAGE SOBRE-----*/
    #jl-avatar-sobre img{
        position: relative;
        left: -15px;
    }

    /*------PAGE MANEGE -> DETALHES-----*/
    .jl-hero{
        margin-top: 100px;
        height: 500px;        
        display: block;
        background-image: url('../../pages/portfolio/img/hero.png');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
    }
    .jl-hero-inner{
        height: 500px;
        
    }
    .jl-hero-inner-content{
        position: relative;
        z-index: 10;
    }
    .jl-hero-inner-content p{
        margin-bottom: 15px;
    }
    
    .jl-hero-inner-content::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: block;
        position: absolute;
        top: -65px;
        left: -65px;
        box-sizing: content-box;
        padding: 65px;
        z-index:5;
    }
    .jl-hero-inner-content > .row{
        position: relative;
        z-index: 6;
    }
    .jl-hero h1{        
        margin-bottom: 50px;
    }
    .jl-project-stats{
        width: 100%;
        height: 100%;
        display: table;
        border-right: 1px solid #2ccb69;
    }
    .jl-project-stats p{
        line-height: 30px;
    }
    .jl-post p{
       margin-bottom: 30px;

    }
    .jl-post-section{
        width: 100%;
        display: table;
        padding: 45px 0;
    }
   

 }

 @media screen and (min-width: 576px){
    
 }
 @media screen and (min-width: 768px){
    
 }
 @media screen and (min-width: 992px){
    .jl-menu{        
        display: table;
        display: flex;
        align-items: center;
        height: 110px;
        margin-left: 30px; 
      }
      .jl-menu a{
        text-decoration: none;
        font-size: 1rem;
        color: #bcbcbc;
        font-family: 'Open Sans', sans-serif;
        text-transform: lowercase;
        display: inline-block;
        margin: 30px 20px 0 20px;
        font-weight: 400;
        position: relative;
        transition: all .3s ease-out;     
      }
      .jl-menu a:first-child{
        margin-left: 0;
      }
      .jl-menu a:hover{
        color: #2ccb69;
      }
      
      .jl-menu a::before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2ccb69;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        transition: all 0.2s ease-out;
        transform: scale(0, 1);
        transform-origin: center center;
      }
      .jl-menu a:hover::before{
        transform: scale(1, 1);
      }
 }
 @media screen and (min-width: 1200px){
    
 }
 @media screen and (min-width: 1364px){
    
 }
 @media screen and (min-width: 1600px){
    
 }
/*SISTEMAS DE BOTÕES*/
.jl-btn{
    display: table;   
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;    
    border: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
    outline: none;
    text-transform: lowercase;
    position: relative;
   
}
.jl-btn i{
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-top: -3px;
}
.jl-btn-block{
    display: block;
    width: 100%;
    
}
.jl-btn-small{
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 11px;
    line-height: 28px;
}
.jl-btn-medium{
    height: 38px;
    line-height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
    line-height: 38px;
}
.jl-btn-large{
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
    line-height: 45px;
}

.jl-btn-green{
    background-color: #2ccb69;
    color: #1c1c1c;
}
.jl-btn-green:hover{
    background-color: rgb(6, 135, 55);
    color: #fff;

}
.jl-btn-dark{
    background-color: #151515;
    color: #2ccb69;
}
.jl-btn-dark:hover{
    background-color: #2f2f2f;
    color: #fff;

}



 /*CLASSES UTILITARIAS*/
 .jl-title{
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
 }
 .jl-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
 }
 .jl-title-medium{
    font-size: 48px;
 }
 .jl-title-large{
    font-size: 64px;
 }
 .jl-title-xlarge{
    font-size: 120px;
 }
 .jl-text-green{
    color: #2ccb69;
 }
 .jl-text-dark{
    color: #4d4c4c;
 }
 .jl-text-light{
    color: #bcbcbc
 }
 .jl-text-black{
    color: #000;
 }
.jl-text-center{
    text-align: center;
}
 .jl-bg-green{
    background-color: #2ccb69;
 }
 .jl-bg-dark{    
    background-color: #4d4c4c;
 }
 .jl-bg-light{   
    background-color: #bcbcbc;
 }
 .jl-bg-black{    
    background-color: #000;
 }



 .jl-mar-15{
    margin: 15px;
 }
 .jl-mar-top-15{
    margin-top: 15px;
 }
 .jl-mar-right-15{
   margin-right: 15px;
 }
 .jl-mar-bottom-15{
    margin-bottom: 15px;
 }
 .jl-mar-left-15{
    margin-left: 15px;
 }

 .jl-mar-30{
    margin: 30px;
 }
 .jl-mar-top-30{
    margin-top: 30px;
 }
 .jl-mar-right-30{
   margin-right: 30px;
 }
 .jl-mar-bottom-30{
    margin-bottom: 30px;
 }
 .jl-mar-left-30{
    margin-left: 30px;
 }

 
 .jl-pad-15{
    padding: 15px;
 }
 .jl-pad-top-15{
    padding-top: 15px;
 }
 .jl-pad-right-15{
    padding-right: 15px;
 }
 .jl-pad-bottom-15{
    padding-bottom: 15px;
 }
 .jl-pad-left-15{
    padding-left: 15px;
 }

 .jl-pad-30{
    padding: 30px;
 }
 .jl-pad-top-30{
    padding-top: 30px;
 }
 .jl-pad-right-30{
    padding-right: 30px;
 }
 .jl-pad-bottom-30{
    padding-bottom: 30px;
 }
 .jl-pad-left-30{
    padding-left: 30px;
 }
 

.jl-full-height{
    height: 100vh;
    position: relative;   
}
.jl-first-section{
    height: calc(100vh - 30px);
}
.jl-no-padding{
    padding: 0 !important;
}
.jl-box-img{
    width: 100%;
    display: table;
}
.jl-img-responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.jl-page-list{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
.jl-page-list > li{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
    padding-left: 21px;
    position: relative;
}
.jl-page-list > li:before{
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    background-color: #2ccb69;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;    
}

.jl-address{
    width: 100%;   
    border-radius: 5px;
    padding: 20px;    
}
.jl-address-white{
    background-color: #e0dcdc;
    color: #151515;
}
.jl-address-dark{
    background-color: #3d3c3c;
    color: #eee;
}
.jl-address-header{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jl-address-body,
.jl-address-footer{
    text-indent: 15px;
    margin-bottom: 18px;
}
.jl-address-white .jl-address-body p{
    font-style: italic;
    font-weight: 400;
}
.jl-address-dark .jl-address-body p{
    font-style: italic;
    font-weight: 400;
}
.jl-address-white .jl-address-footer{
    background-color: #eee;    
    min-height: 50px;
    display: flex;
    flex-direction: column;    
    padding: 10px;   
}
.jl-address-dark .jl-address-footer{
    background-color: #504f4f;    
    min-height: 50px;
    display: flex;
    flex-direction: column;    
    padding: 10px

}

.jl-address-footer p{
    text-align: right;
    line-height: 21px;
    margin-bottom: 8px;    
}
.jl-address-icon-footer{
    padding-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}
.jl-address-white  a i{
    color: #333;

}
.jl-address-white  a i:hover{
    color: #10823c;
}








 /*CLASSES DE COMPORTAMENTOS*/
 .jl-change-icon{
    background-position-y: -45px;
            
} 
 .jl-is-open{
    display: block;
 }

 .jl-slide-top-in{
    animation: slideTopIn 0.6s forwards cubic-bezier(0,1.11,.6,.89);
 }
 .jl-fade-out{
    animation: fadeOut 2s forwards ease-out;
 }
 .jl-fade-From-letf{
    animation: fadeFromLetf 2s 0.7s forwards cubic-bezier(0,1.01,.32,1);
 }
 .jl-scale-right{
    animation: scaleRigth 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1);
 }
 .jl-scale-up{
    animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0,1.01,.32,1);
 }
 .jl-no-radius-left{
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
 }
 .jl-no-radius-right{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .red{
    background-color: red;
  }
  .yellom{
    background-color: yellow;
  }
  .blue{
    background-color: blue;
  }
  .purple{
    background-color: purple;
  }
  .green{
    background-color: green;
  }
 